main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
<<<<<<< HEAD

#equipe{

    width:  70% ;
    height: 70%;
    box-shadow: 5px 5px 5px grey;
    align-items: center;
    
}

#integrantes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    
}

#titolo{
    text-align: center;
=======
div{
    background-color: white;
    box-shadow: 5px 5px 5px rgb(71, 64, 64);
>>>>>>> 9bbe5444fa6924803098972ff3b537b185d86774
}