#section-sobre, #section-problema, #section-demonstracao {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#section-sobre {
    justify-content: center;
    background: url('../img/protoboard_2.jpg') no-repeat fixed center;
    background-size: cover;
}

#section-sobre h1 {
    color: white;
    text-shadow: 3px 3px 2px black;
}

#section-sobre p {
    color: white;
    text-shadow: 3px 3px 2px black;
}

#section-problema div {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

#section-problema {
    justify-content: space-evenly;
    flex-direction: initial;  
}

#section-problema p {
    width: 80%;
    text-align: center;
    display: flex;
   
    
}
#praticidade{
    margin-bottom: 100px;
}
#segurança{
    margin-bottom: 20px;
}

#section-demonstracao {
    justify-content: center;
    
}

.p-descricao {
    width: 80%;
}

div h2 {
    text-align: center;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 40px;
}

#section-demonstracao > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 120px;
    margin-bottom: 80px;
}

#section-demonstracao h2 {
    color: white;
    margin-bottom: 50px;
    margin-top: 10px !important;
}

.produto-div {
    display: flex;
    position: relative;
}

.produto-div p {
    position: absolute;
    bottom: 0;
    text-indent: 8px;
    transition: 0.5s;
    opacity: 0;
    color: white;
}

.produto-div img:hover ~ p {
    opacity: 1;
    transform: translate(0, 25px);
}

.produto{
    width: 400px;
    margin: 0px ;
    border: 2px white solid;
} 
    
#compra{
    border-radius: 5px;
    margin-bottom: 10px;
    border: white 2px solid;
}

#compra:hover{
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
}
#desen{
    text-align: center;
    color: rgb(79, 134, 157);
}
a,h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
 #produto{
    font-size: larger;
    font-size: 20px;
} 
.quadro{
    background-color: white;
    width: 80vh;
    height: 60vh;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    border-bottom: solid 5px black;
    border-right: solid 5px black;
    transition: 0.3s;

}

.quadro:hover {
    border-color: gray;
}

#falta{
    margin-bottom: 50px;

}
#conforto{
    margin-top: 30px;
    margin-bottom: 85px ;

}

#formulario{
    background:linear-gradient(to top , rgb(22, 110, 243), rgb(172, 5, 250));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 87.4vh;


}
#logar{
    
    width: 500px;
    
    
}

form{
    background-color: rgb(255, 255, 255);
    margin-top: 50px;
    margin-bottom: 10px;
    width: 500px;
    height: 400px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    
}

#h1form{
    font-size: x-large;
    font-family: sans-serif ;
    color: #2e2e2e;
    text-align: center;
    margin-top: 5px;
}


* {box-sizing: border-box}

  input[type=email], input[type=password] {
  width: 80%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border: #636363;
  border-radius: 50px;
  margin-left: 50px;
}

input[type=email]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
  border: 4px rgb(100, 100, 100);
}

hr {
  border: 1px solid #0f0f0f;
  margin-bottom: 25px;
}


button {
  background-color: #bbbbbb;
  color: white;
  padding: 14px 20px;
  margin-left: 10px ;
  margin-right: 10px;
  border: 1px rgb(139, 139, 139);
  cursor: pointer;
  width: 100px;
   border-radius: 10px;
}

button:hover{
    background-color: #08c1fa;
}   
#confirmar{
    display: flex;
    justify-content: center;
}
label{
    margin-left: 65px;
}

hr{
    margin-left: 50px;
    width: 400px;
   background-color: #bbbbbb;
   opacity: 0.1;
   height: 1px;
   margin-bottom: 10px;
   
}

