#section-sobre, #section-problema, #section-demonstracao {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#section-sobre {
    justify-content: center;
    background: url('../img/protoboard_1.jpg') no-repeat fixed center;
}

#section-problema div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#section-problema {
    justify-content: space-evenly;
}

#section-problema p {
    width: 80%;
    text-align: center;
}

#section-demonstracao {
    justify-content: center;
}

.p-descricao {
    width: 80%;
}

div h2 {
    text-align: center;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 40px;
}

#section-demonstracao div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 120px;
    margin-bottom: 80px;
}

#section-demonstracao h2 {
    color: white;
    margin-bottom: 50px;
    margin-top: 10px !important;
}

 .produto{
    width: 400px;
    
    margin: 0px ;
} 

#compra{
    border-radius: 5px;
    margin-bottom: 10px;
}

#compra:hover{
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
}
#desen{
    text-align: center;
    color: rgb(79, 134, 157);
}
a,h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


