*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav, .navlinks, ul, li, a{
    padding: 7px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}
.navlinks {
    margin-right: 15%;
}

a {
    transition: 0.4s;
    text-decoration: none;
}

a:hover {
    color: rgb(171, 155, 248);
    text-decoration: underline;
    transition: 0.4s;
}

.bg-blue {
    background-color: rgb(47, 47, 164);
}

.bg-black {
    background-color: black;
    color: white;
}

.text-bold {
    font-weight: bolder;
}