*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav, .navlinks, ul, li, a{
    padding: 7px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}
.navlinks {
    margin-right: 15%;
}
footer{
    background-color: black;
    color: rgba(255, 255, 255, 0.601);
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-left: 5%;
    height: 10%;    
    display: flex;
    justify-content: space-evenly;
}
#icons{
    display: flex;
    align-items: center;
}
footer a{
    color: rgba(255, 255, 255, 0.601);

}
footer p{
    display: flex;
    align-items: center;
}
a {
    transition: 0.4s;
    text-decoration: none;
}
a:hover {
    color: rgb(171, 155, 248);
    text-decoration: underline;
    transition: 0.4s;
}
.bg-blue {
    background-color: rgb(65, 181, 230);
}
.bg-black {
    background-color: black;
    color: white;
}
.text-bold {
    font-weight: bolder;
}